.about-page {
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: rgb(54, 1, 1);
}


.about-grid {
  margin: 0 50px 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  
}

@media (max-width: 1000px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
}

.about-items {
  display: flex;
  gap: 20px;
  padding: 20px;
  border: 3px solid rgb(197, 152, 5);

  background-color: #383838;
  color: rgb(208, 208, 208);
  align-items: center;
  justify-content: center;
}

.profile-pic {
  width: 200px;

}

.name, .position, .about-text {
  text-align: center;
}

.name, .position {
  color: rgb(197, 152, 5);
}

.name {
  font-size: 23px;
  font-weight: 700;
}
