.footer {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(194, 183, 183);
  

  font-weight: 700;
  font-style: normal;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(197, 152, 5);

}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
}

.text, .email {
  margin: 10px;
  font-size: 20px;
}

.footer-menu img {
  width: 40px;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 80px;
  width: 40px;
}

@media (max-width: 1000px) {
  .footer {
    flex-direction: column;
  }
  
  .left-section {
    padding-left: 0;
  }

  .footer-menu {
    margin-right: 0;
  }
}
