html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.heading {
  font-size: 30px;
  color: rgb(197, 152, 5);
  font-weight: 700;
  text-align: center;
}

.text {
  font-size: 20px;
  color: black;
  text-align: center;
}
