.header {
  height: 130px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(153, 82, 82);
  

  
  font-weight: 700;
  font-style: normal;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(197, 152, 5);

}

.left-section {
  display: flex;
  align-items: center;
}



.club-name {
  margin-left: 40px;
  font-size: 40px;
  color: rgb(197, 152, 5);
}

.right-section {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  flex-shrink: 1;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  gap: 15px;

  position: absolute;
  top: 100%;
  width: 100%;
  background-color: rgb(153, 82, 82);
  align-items: center;
  padding-bottom: 20px;


}


.menu-icon {
  display: none;
  width: 50px;
  margin-right: 50px;
}

@media (max-width: 750px) {
  .right-section {
    display: none;
  }

  .menu-icon {
    display: block;
    margin-right: 50px;
    width: 50px;
    cursor: pointer;
  }

  .dropdown-menu.open {
    display: flex;
  }
}


a {
  font-size: 30px;
  color: rgb(197, 152, 5);
  text-decoration: none;
}

a:hover {
  color: rgb(226, 223, 58);
  cursor: pointer;
}