.header {
  height: 150px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(95, 4, 4);
  

  
  font-weight: 700;
  font-style: normal;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(197, 152, 5);

}

.left-section {
  display: flex;
  align-items: center;
}



.club-name {
  margin-left: 40px;
  font-size: 40px;
  color: rgb(197, 152, 5);
}

.right-section {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
}

.jump-about, .jump-events, .jump-sponsers, a {
  font-size: 30px;
  color: rgb(197, 152, 5);
}

.jump-about:hover, .jump-events:hover, .jump-sponsers:hover, a:hover {
  color: rgb(226, 223, 58);
  cursor: pointer;
}

a {
  text-decoration: none;
}