.header {
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(167, 19, 19);

  
  font-weight: 700;
  font-style: normal;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(197, 152, 5);

}

.left-section {
  display: flex;
  align-items: center;
}

.club-name {
  margin-left: 40px;
  font-size: 40px;
  color: rgb(197, 152, 5);
}
.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jump-home, .jump-about, .jump-events, .jump-contact {
  font-size: 30px;
  color: rgb(197, 152, 5);
}