html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(224, 220, 220);
}

.heading {
  font-size: 30px;
  color: rgb(197, 152, 5);
  font-weight: 700;
}

.text {
  font-size: 20px;
  color: black;
}