.homepage-body {
  background-color: rgb(224, 220, 220);
  
}

.banner {
  margin-top: 30px;
  width: 100%;
}

.home {
  background-color: rgb(194, 183, 183);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20px 50px 20px;
  gap: 50px;
}


.mascot {
  width: 400px;
  border-radius: 50%;
  flex-shrink: 1;
  max-width: 40%;
  height: auto;
}

.general-info {
  flex: 1;
}

.upcoming-events, .suggestions {
  font-family: "Times New Roman";
  font-weight: 700;
  width: 400px;
  height: 100px;
  border-radius: 30px;
  font-size: 20px;
  background-color: rgb(95, 4, 4);
  color: rgb(194, 183, 183);
  border: 2px solid rgb(46, 4, 4);
}

.upcoming-events:hover, .suggestions:hover {
  background-color: rgb(187, 21, 21);
  color: rgb(241, 238, 238);
  border: 2px solid rgb(95, 4, 4);
  cursor: pointer;
}

@media (max-width: 750px) {
  .banner {
    margin-top: 100px;
  }

  .home {
    flex-direction: column;
  }

  .mascot {
    width: 80%;
    max-width: 400px;
  }

  .general-info {
    width: 100%;
  }
}

.memberships .heading, .memberships .text {
  justify-self: center;
}